footer.footer
    .container 
        .footer__wrap 
            ul.footer__liist 
                li.footer__item 
                    |Центр развития &#34;NEO&#34;
                li.footer__item 
                    ul.footer__social
                        li.soc__item 
                            a.social-link(href="tel: +79879124043")
                                img(src="./img/social/phone.png", alt="phone")
                        li.soc__item 
                            a.social-link(href="https://wa.me/79879124043?text=Хочу записаться на консультацию")
                                img(src="./img/social/whatsapp.png", alt="whatsapp")
                        li.soc__item 
                            a.social-link(href="mailto: info@shkolaneo.ru")
                                img(src="./img/social/email.png", alt="email")
                li.footer__item 
                    a.footer-link(href="tel: +79879124043")
                        |+7(987)912-40-43
                li.footer__item 
                    a.footer-link(href="mailto: info@shkolaneo.ru")
                        |info@shkolaneo.ru
                li.footer__item 
                    a.footer-link(href="!#")
                        |&#169; 2019 center.ru Moscow
            ul.footer__liist
                li.footer__item
                    a.footer-link(href="!#")
                        |Публичная оферта
                li.footer__item
                    a.footer-link(href="!#")
                        |Политика конфиденциальности
                li.footer__item
                    a.footer-link(href="!#")
                        |Согласие на обработку персональных данных