header.header
    .container.content
        .header__block-img
        .header__block-title 
            .header-line
                h3.title-author
                    |Мирра Шевченко
            h1.title-course  
                |Энергопсихотерапевт
            p.header__utp 
                |Бесплатная консультация длительностью около часа.
            a.hiader__link(href="#application") 
                |Записаться    