header.header 
    .header__block-img 
    .header__block-title 
        .header-line
            h3.title-author
                |Мирра Шевченко
        h1.title-course 
            |Энерго-гипнокоуч
        p.header__utp 
            |Бесплатная консультация длительностью более часа.
        a.hiader__link(href="#!") 
            |Записаться    