section.plan
    .container 
        h3.title-small 
            |Консультация проходит в zoom и длится около часа. Подробный план встречи:
        ul.plan__list 
            li.plan__item 
                |1. Небольшое знакомство. Можете рассказать немного о себе и задать вопросы мне, чтобы морально расслабиться.
            li.plan__item 
                |2. Выявление проблемы. Глубинно обсуждаем, находим первопричину и создаём полную картину того, что вас беспокоит.
            li.plan__item 
                |3. Определяем путь решения. Создаём поэтапный план, который в итоге поможет справиться с проблемой и зажить счастливо.
        .btn-link 
            a.hiader__link(href="#application") 
                |Записаться
        h3.title-small 
            |Почему мне можно довериться?
        ul.why__list 
            li.why__item 
                p  
                    |Психотерапевт по образованию, но работаю не только на психологическом, но и на энергетическом уровне. Ведь проблема зачастую не только “в голове”, но и в вашем энергетическом поле
                img.rectangl(src="./img/problems/re.png" alt="icon") 
            li.why__item 
                p 
                    |Более 10 лет опыта в сфере энергетического восстановления чакр и ауры. Сразу вижу на уровне какой чакры есть проблема и знаю, как её решить.
                img.rectangl(src="./img/problems/re.png" alt="icon") 
            li.why__item
                p 
                    |Умею находить подход к людям и мотивировать на результат. Уже 3 года работаю наставником в нескольких курсах по саморазвитию.
                img.rectangl(src="./img/problems/re.png" alt="icon") 
            li.why__item
                p
                    |Использую коучинг, гипносессии, НЛП-техники для работы с сознанием и подсознанием, что помогает добиться результата даже в очень сложных случаях.
                img.rectangl(src="./img/problems/re.png" alt="icon") 
            li.why__item
                p
                    |Моя главная миссия - сделать как можно больше людей счастливыми и открытыми миру. Именно поэтому я выделяю время на бесплатные консультации.
                img.rectangl(src="./img/problems/re.png" alt="icon") 
        p.paragraph
            |До счастливой жизни осталось сделать всего один шаг и я верю, что вы на него способны!
        .btn-link 
            a.hiader__link(href="#application") 
                |Записаться        
