section.problems 
    .container
        h3.title-small 
            |Взгляните на примеры ниже, узнаёте себя?

        ul.problems__list 
            li.problems__item 
                img(src="./img/problems/icon1.jpg" alt="icon")
                p.item-text 
                    |Меня не устраивает должность и зарплата, но страшно менять работу, едва ли найду что-то лучше. Про свой бизнес вообще молчу.
            li.problems__item 
                img(src="./img/problems/icon2.jpg" alt="icon")
                p.item-text
                    |Хоть отношения со второй половиной не очень ладятся, но это лучше, чем быть одиноким. Идеалов нет, зачем что-то менять.
            li.problems__item 
                img(src="./img/problems/icon3.jpg" alt="icon")
                p.item-text
                    |Я должен быть супер-родителем, ведь моё детство не было идеальным, помню, как это больно и не допущу впредь.
        img.rectangl(src="./img/problems/re.png" alt="icon")    
        p.paragraph
            |Вспомните, как часто вы используете фразы “так суждено” и “никуда не деться”, оправдывая этим свою неспособность противостоять ситуации? Или, наоборот, отрицаете возможность неудачи и слепо кидаетесь в омут с головой?
        img.rectangl(src="./img/problems/re.png" alt="icon")  
        p.paragraph
            |И это лишь верхушка айсберга. Любой страх, любой внутренний блок, любая навязчивая идея идут из Родовой Программы, которая вами управляет. Я предлагаю снять эту Программу и освободиться от оков!
        a.hiader__link(href="#!") 
            |Записаться
        h3.title-small 
            |Что Вы получите после консультации