section.problems 
    .container
        h3.title-small 
            |Взгляните на примеры ниже, узнаёте себя?

        ul.problems__list 
            li.problems__item 
                img(src="./img/problems/icon1.jpg" alt="icon")
                p.item-text 
                    |Низкая самооценка и комплексы; страх, что на самом деле вы никому не нравитесь и понравиться не можете; постоянная нервозность и неуверенность в своих словах и действиях.
            li.problems__item 
                img(src="./img/problems/icon2.jpg" alt="icon")
                p.item-text
                    |Жизнь по шаблону - все события словно цикличны, вы проживаете один и тот же сценарий. Проблемы повторяются один в один и вы никак не можете разорвать этот круг.
            li.problems__item 
                img(src="./img/problems/icon3.jpg" alt="icon")
                p.item-text
                    |Вы по-прежнему помните обиды из детства и проецируете их на настоящее. Даже мелкую ссору можете принять близко к сердцу и сильно обидеться, часто жалеете и накручиваете себя по пустякам.
        .btn-link 
            a.hiader__link(href="#application") 
                |Записаться 
        p.paragraph
            |Узнали себя в каком-то из пунктов? И наверняка уже пытались “исправиться”, но ничего не получилось? Не надо себя за это корить! Ведь проблема намного глубже, чем кажется и её нельзя исправить простой самодисциплиной.
        img.rectangl(src="./img/problems/re.png" alt="icon")  
        p.paragraph
            |Ситуацию надо проработать, принять и отпустить, чтобы начать новую и счастливую жизнь. И я могу в этом помочь!
        img.rectangl(src="./img/problems/re.png" alt="icon") 
        p.paragraph
            |На личной консультации мы проработаем вашу проблему, поймём истоки и найдём решение.
            span.span 
                | Свободно всего 5 мест, запись до конца недели. 
            |Если вы хотите изменить свою жизнь, записывайтесь прямо сейчас.
        .btn-link 
            a.hiader__link(href="#application") 
                |Записаться
        