section.reviews
    .container 
        h3.title-small 
                |Отзывы
        .reviews__wraper 
            .reviews__item
                p.reviews__artical 
                    |Мирра, благодарю вас за работу по освобождению от обид. Я не знала, как будет все проходить, какие будут состояния во время процесса и после. Но чувствовала, что сама не могу сдвинуться с места и зависла в состоянии " ничего не происходит". Определенно, нужен был волшебный пендель. Эффективный. Перед занятием началась тревога, что то во мне стало метаться, чуя перемены. Сам процесс прошел легко, в вашем поле я чувствовала, что в надежных руках и работа идет наилучшим для меня образом. Техника работа не похожа на те, что мне знакомы. Временами было сопротивление, но потом ощущение облегчения и спокойствия. Глубокая работа, никаких воспоминаний, что было, переживаний в сотый раз травматичных ситуаций нея долго работала раньше с психологом и там было именно " ковыряние болячек, поиом временное облегчение", а скорее наблюдение со стороны и взгляд на ситуацию по новому. Я прошла несколько состояний, в голове действительно началась " перепрошивка". Появилось больше энергии.
                p.reviews__client 
                    |Екатерина
            .reviews__item.none
                p.reviews__artical 
                    |Ваша работа невероятно ценна! Высочайший уровень на котором Вы работаете, качество работы, Ваш подход. Психология которая предлагает похожие услуги не дает такого результата и так быстро, а стоит гораздо выше. Конечно хочу страхи проработать. Конечно, давайте со следующей недели или после. Вы очень добрая и классная! Очень рада что попала к Вам! Очень! Благодарю за порцию здоровья
                p.reviews__client 
                    |Наталья
            .reviews__item.none
                p.reviews__artical 
                    |Мирра! Благодарю Вас за прорабатку отношений с мамой. До сеанса мои чувства к маме доходили даже до ненависти. Сейчас, после проработки я чувствую только любовь к маме. Этот сеанс изменил меня, я другой человек. Я больше не жертва, наоборот я чувствую себя ведущей в отношениях. Чувствую себя мудрее, сильнее, увереннее. Сейчас я хочу давать маме любовь бесконечно чтобы она купалась в любви, окружить заботой мамочку, быть внимательной к ней. Это чудо. В своем сердце чувствую больше энергии, как часть сердца была закрыта а сейчас там сладкое счастье, свободно течет энергия. Раньше я пробовала сама наладить отношения, но во мне всегда побеждала боль, обида. Сейчас боли нет.(!!!!!) И мама изменилась ко мне! Между нами любовь, понимание и доверие. Наши больные отношения исцелились. Я счастлива! Благодарю
                p.reviews__client 
                    |Надежда
            .reviews__item.none
                p.reviews__artical 
                    |Дорогая и любимая Мирра!Я так рада, что решилась к вам на отработку пойти.Я хотела найти хорошую работу, а в итоге сейчас имею желаемую работу, о которой только мечтала!И это всего за неделю после встречи с вами, это волшебство!Вы творите невероятную работу! Ваши встречи в скайпе, плюс энергетическая работа, все вместе творят поразительное!У меня словно крутят выросли!Я хочу к вам отработать стеснение, убрать обиду на маму, и ещё вы говорили, что можно поработать для создания лучшей версии себя, мне это сейчас очень нужно!!Благодарю от всей души
                p.reviews__client 
                    |Татьяна
            .reviews__item.none
                p.reviews__artical 
                    |Уже прошло две недели после нашей с вами встречи и отработки обиды на первого мужа. Мои отношения с моим нынешним и любимым мужем вышли на новый уровень. Я перестала обижаться и искать в нем плохие качества. Стараюсь быть поддержкой, и меняется он! Это поразительно! Работаете со мной, а он на работе и шлёт мне любовные смс. И мне так приятно.Я понимаю, что сама перекосила на нас мои обиды с первым мужем, и сейчас после отработки у нас такой романтик!! И секс!!! Даже боюсь радоваться, и делиться. Но отношения у нас какому толькт познакомившихся влюблённых. Я вам очень благодарна. Не знала что так возможно
                p.reviews__client 
                    |Ольга
            .reviews__arrow.left
                .arrow__left 
                    img(src="./img/arrow/left.png", alt="left")
            .reviews__arrow.right
                .arrow-right   
                    img(src="./img/arrow/right.png", alt="right")