.problems{
    position: relative;
    z-index: 2;
    padding-top:3rem;
    @media (min-width: 900px){
        padding-top:0;
    }
}
.problems__utp{
    margin-bottom: 3rem;
    text-align: center;
    @media (min-width: 900px){
        display: none;
    }
}
.problems__list {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    align-items:center;
    flex-direction: column-reverse;
    @media (min-width: 900px){
        flex-direction: row;
        justify-content: space-around;
    }
}

.problems__item{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 15rem;
    img{
        margin-bottom: 3rem;
        width: 5rem;
        height: 5rem;
    }
    &:last-child{
        margin-right: 0;
    }
    @media (min-width: 900px){
        margin-right: 3rem;
    }
}
.rectangl{
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 1rem;
    height: 1rem;
}
.paragraph{
    margin-bottom: 3rem;
    text-align: center;
}